In [103]:
WORK_DIR='C:\\Users\\KOSCOM\\Desktop\\Chatbot\\'

## Setting for colab

In [104]:
# Clone Git Repo(only for Google Colab)
# !git clone https://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@github.com/koscomcop/2022Military-Chatbot-jupyter.git

In [105]:
WORK_DIR='/content/2022Military-Chatbot-jupyter/'
%cd $WORK_DIR

/content/2022Military-Chatbot-jupyter

#### Git Push

In [115]:
!git status

On branch main
Your branch is ahead of 'origin/main' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean

In [106]:
# !git add .
# !git status

In [109]:
# Push Git Repo
# !git config --global user.email "dlruddla89@gmail.com"
# !git config --global user.name "katie0809"

In [ ]:
# !git commit -m '복지 질문 학습셋 추가'

In [113]:
# !git remote add origin https://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@github.com/koscomcop/2022Military-Chatbot-jupyter.git

fatal: remote origin already exists.

In [116]:
# !git push origin main

Counting objects: 4, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 19.20 KiB | 3.84 MiB/s, done.
Total 4 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/koscomcop/2022Military-Chatbot-jupyter.git
   6a51d53..c96f9bd  main -> main

## Environments

In [69]:
FILES_DIR=WORK_DIR+'assets/'

In [70]:
import os

raw_datas = []
for dirname, _, filenames in os.walk(FILES_DIR):
    for filename in filenames:
        filepath = os.path.join(dirname, filename)
        print(filename)

국방부 병사 보급기준 정보_20200924.csv
국방부_국군복지단 복지시설_20220426.csv
병사 봉급 정보.csv
제7296부대 병영 표준 식단.xls.pia
국방부_군 복지 휴양시설 정보_10_01_2018.csv
국방부_TMO(여행장병 안내소) 정보_20190930.csv
국방부_한국국방연구원 도서관 보유 국내외 정기간행물 목록_20210930.csv
방위사업청_국방통합 용어사전_20210915.csv
국방전자도서관 도서정보.csv
국방부_국군복지단 복지지설 상세 현황_20220426.csv
국방부_신분별 군 정원_20200101.csv
국방부_군인(간부) 봉급표_20200930.csv
국방부_병사 할인 혜택 정보_20220426.csv
국방부_영외 군인아파트 현황_20201231.csv
국방부_현역군인 내 집 마련 정보_20210816.csv
국방부_군 복지시설 주변 관광지 정보_20200831.csv
국방부_군인연금 기금운용 현황_20201231.csv
국방부_군인연금 기금자산 현황_20201231.csv
국방부_군병원 정보_20200701.csv
국방부 PX 인기상품 정보_20220531.csv
국방부_영외 군인아파트 현황_20201231.csv
국방부_공군사관학교 교육과정_20200930.csv
국방부_육군사관학교 교육과정_20210918.xlsx.pia
연도별 장병 체력검정 기준 정보.csv
국방부_육군3사관학교 교육과정_20200930.csv
국방부_해군사관학교 교육과정_20200930.csv
국방부_군인연금 수급인원 현황_20201231.csv
군사법원 연락처 정보.csv
국방부_육사신문_20200929.zip
국방부_체력단련장 정보_20190829..csv

In [71]:
import pandas as pd
import numpy

In [72]:
df = pd.read_csv(FILES_DIR+'국방부_군인(간부) 봉급표_20200930.csv', encoding='utf-8')
df

,호봉,소장,준장,대령,중령,소령,대위,중위,소위,준위,원사,상사,중사,하사
0,1,5346400.0,5043700.0,4094500.0,3599200.0,2965300.0,2411900.0,1871200.0,1710000.0,2230300,3127700.0,2163200.0,1744800.0,1661200.0
1,2,5478600.0,5174700.0,4232200.0,3736800.0,3099700.0,2538600.0,1977400.0,1810800.0,2336400,3227700.0,2259100.0,1834500.0,1689600.0
2,3,5610800.0,5305700.0,4369900.0,3874400.0,3234100.0,2665300.0,2083600.0,1911600.0,2442500,3327700.0,2355000.0,1924200.0,1718000.0
3,4,5743000.0,5436700.0,4507600.0,4012000.0,3368500.0,2792000.0,2189800.0,NaN,2548600,3427700.0,2450900.0,2013900.0,1746400.0
4,5,5875200.0,5567700.0,4645300.0,4149600.0,3502900.0,2918700.0,2296000.0,NaN,2654700,3527700.0,2546800.0,2103600.0,1774800.0
5,6,6007400.0,5698700.0,4783000.0,4287200.0,3637300.0,3045400.0,2402200.0,NaN,2760800,3627700.0,2642700.0,2193300.0,1803200.0
6,7,6139600.0,5829700.0,4920700.0,4424800.0,3771700.0,3172100.0,2508400.0,NaN,2866900,3727700.0,2738600.0,2283000.0,1831600.0
7,8,6271800.0,5960700.0,5058400.0,4562400.0,3906100.0,3298800.0,NaN,NaN,2973000,3827700.0,2834500.0,2372700.0,1860000.0
8,9,6404000.0,6091700.0,5196100.0,4700000.0,4040500.0,3425500.0,NaN,NaN,3079100,3927700.0,2930400.0,2462400.0,1888400.0
9,10,6536200.0,6222700.0,5333800.0,4837600.0,4174900.0,3552200.0,NaN,NaN,3185200,4027700.0,3026300.0,2552100.0,1916800.0
10,11,6668400.0,6353700.0,5471500.0,4975200.0,4309300.0,3678900.0,NaN,NaN,3291300,4127700.0,3122200.0,2641800.0,NaN
11,12,6800600.0,6484700.0,5609200.0,5112800.0,4443700.0,3805600.0,NaN,NaN,3397400,4227700.0,3218100.0,2731500.0,NaN
12,13,6932800.0,6615700.0,5746900.0,5250400.0,4578100.0,NaN,NaN,NaN,3503500,4327700.0,3314000.0,2821200.0,NaN
13,14,NaN,NaN,5884600.0,5388000.0,4712500.0,NaN,NaN,NaN,3609600,4427700.0,3409900.0,2910900.0,NaN
14,15,NaN,NaN,6022300.0,5525600.0,NaN,NaN,NaN,NaN,3715700,4527700.0,3505800.0,3000600.0,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3821800,NaN,3601700.0,3090300.0,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3927900,NaN,3697600.0,3180000.0,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4034000,NaN,3793500.0,3269700.0,NaN
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4140100,NaN,3889400.0,3359400.0,NaN
19,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4246200,NaN,NaN,3449100.0,NaN
20,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4352300,NaN,NaN,3538800.0,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4458400,NaN,NaN,3628500.0,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4564500,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4670600,NaN,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4776700,NaN,NaN,NaN,NaN
25,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4882800,NaN,NaN,NaN,NaN
26,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4988900,NaN,NaN,NaN,NaN

In [73]:
file_names = [
#     '국방부 PX 인기상품 정보_20220531.csv',
#     '국방부 병사 보급기준 정보_20200924.csv',
    '국방부_TMO(여행장병 안내소) 정보_20190930.csv',
    '국방부_국군복지단 복지시설_20220426.csv',
    '국방부_국군복지단 복지지설 상세 현황_20220426.csv',
    '국방부_군 복지 휴양시설 정보_10_01_2018.csv',
#     '국방부_군 복지시설 주변 관광지 정보_20200831.csv',
#     '국방부_군병원 정보_20200701.csv',
#     '국방부_군인(간부) 봉급표_20200930.csv',
    '국방부_병사 할인 혜택 정보_20220426.csv',
#     '국방부_신분별 군 정원_20200101.csv',
#     '방위사업청_국방통합 용어사전_20210915.csv',
]

In [74]:
def print_dfs(file_names):
    for fnm in file_names:
        sample_df=pd.read_csv(FILES_DIR+fnm, encoding='utf-8')
        print(f'[{fnm.split(".")[0]}] # of data : {len(sample_df.index)} ======================================>')
        display(sample_df.head())
        print('\n')

In [75]:
print_dfs(file_names)

[국방부_TMO(여행장병 안내소) 정보_20190930] # of data : 50 ======================================>

,TMO명,일반전화번호,평일운용시간(시작),평일운용시간(종료),주말운용시간(시작),주말운용시간(종료),위치설명,비고
0,강릉,033-641-9690,7:00,18:00,7:00,18:00,3번출구2시방향여자화장실옆,NaN
1,경산,053-750-4556,7:20,17:10,NaN,NaN,경산역출구에서좌측4m지점,휴일미운용
2,계룡,042-550-4254,6:30,20:00,6:30,20:00,계룡역역광장출구방향정면30m지점붉은벽돌건물,NaN
3,광명,02-801-6791,7:00,19:00,7:00,19:00,광명역서편1번출구지하1층,NaN
4,광주송정,062-940-7788,7:00,19:00,7:00,19:00,광주송정역1층운영,NaN

[국방부_국군복지단 복지시설_20220426] # of data : 73 ======================================>

    구분     시설명                        주소           연락처
0  기숙사  대방학사1관       서울시 영등포구여의대방로 49길 3   02-847-0981
1  기숙사  대방학사2관     서울시 영등포구여의대방로 43라길 17   02-832-2219
2  기숙사    도봉학사           경기도 의정부시호암로 129  031-878-2090
3  기숙사    무등학사  광주광역시 동구학소로 62번길 14-45번지  062-226-0164
4  기숙사    무열학사         대구시 달서구와룡로 51길 36  053-750-6917

[국방부_국군복지단 복지지설 상세 현황_20220426] # of data : 106 ======================================>

,운영구분,시설명,지역1,지역2,우편번호,주소1,주소2,일반전화,축제행사,운용객실홀수또는수용능력,...,현역군무원비수기,현역군무원휴일주말,현역군무원성수기,예비역및기타비수기,예비역및기타휴일주말,예비역및기타성수기,비회원비수기,비회원휴일주말,비회원성수기,적용기준일
0,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,108000,122000.0,143000.0,119000.0,135000.0,157000.0,146000.0,196000.0,229000.0,NaN
1,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,46000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
2,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,45000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
3,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,54000,71000.0,90000.0,59000.0,79000.0,99000.0,73000.0,114000.0,144000.0,NaN
4,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,60000,77000.0,95000.0,66000.0,84000.0,105000.0,81000.0,122000.0,153000.0,NaN

[국방부_군 복지 휴양시설 정보_10_01_2018] # of data : 13 ======================================>

,순번,시설 명,위치 주소,객실 수량,규모,연락처,부대시설,홈페이지 주소
0,1,서귀포호텔,제주도 서귀포시 상예로 319,64,지상 7층,064-738-0123,"노래방, 연회장, 스카이라운지, 식당, 커피숍, 매장",www.welfare.mil.kr
1,2,송정콘도,강원도 강릉시 창해로 141,42,지상 3층,033-652-7571,"세미나실, 마트, 노래방",www.welfare.mil.kr
2,3,대천콘도1관,충남 보령시 갓바위 1길 10-30,47,지상 5층,041-932-6305,"노래방, 세미나실, 마트, 배구장",www.welfare.mil.kr
3,4,대천콘도2관,충남 보령시 남포방조제로 139,38,지상 4층,041-934-0504,"세미나실, 노래방",www.welfare.mil.kr
4,5,화진포콘도,강원도 고성군 거진읍 화진포길 330,55,지상 4층,033-682-0500,"노래방, 연회실, 식당, 마트",www.welfare.mil.kr

[국방부_병사 할인 혜택 정보_20220426] # of data : 89 ======================================>

,행번호,지역,시설명,할인행사명,시작일,종료일,연락처,홈페이지,상세설명
0,1,서울,세종호텔,연중 객실할인,2018-09-17,NaN,02-3705-9115,https://www.welfare.mil.kr,"객실: 50% 이상,연회 : 10%∼15%"
1,2,경남,거제삼성호텔,연중 객실할인,2017-01-01,NaN,055-631-2114,https://www.welfare.mil.kr,객실 55%～62%내외
2,3,경기,베어스타운리조트,연중 객실할인,2016-11-25,NaN,02-456-2014,https://www.cielsportsmedia.co.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장), 씨엘스포츠 폐쇄몰 이용"
3,4,강원,하이원리조트,연중 객실할인,2017-06-19,NaN,1588-7789,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장)"
4,5,강원,용평리조트 객실할인,연중 객실할인,2016-07-01,NaN,02-456-2014,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장),씨엘스포츠 폐쇄몰 이용"

## 의도 총 6개
- 복지 : 할인혜택, 휴양시설, 복지시설
- 주거 : 관사주택정보, 관사분양정보
- 정원 : 군별 병사/장교 인원정보
- 급여 : 병사/장교 급여정보
- 도서
- 식단

## 2.복지
### 1) QnA Template
- 특정시설 정보 질몬
    - 특정시설 일반정보 답변
- 특정지역 시설여부 질문
    - 특정지역 해당 시설목록 답변
    - 특정지역 해당 여행장병안내소 답변
    
### 2) Named Entity
: 추출해야할 개체 종류 ==> 지역, 시설

#### 개체추출 ==> 지역

In [76]:
def get_dfs(file_names):
    dfs = []
    for fnm in file_names:
        sample_df = pd.read_csv(FILES_DIR+fnm, encoding='utf-8')
        dfs.append(sample_df)
        print(f'[{fnm.split(".")[0]}] # of data : {len(sample_df.index)} ======================================>')
        display(sample_df.head())
        print('\n')
        
    return dfs

In [77]:
df_welfare = get_dfs(file_names)

[국방부_TMO(여행장병 안내소) 정보_20190930] # of data : 50 ======================================>

,TMO명,일반전화번호,평일운용시간(시작),평일운용시간(종료),주말운용시간(시작),주말운용시간(종료),위치설명,비고
0,강릉,033-641-9690,7:00,18:00,7:00,18:00,3번출구2시방향여자화장실옆,NaN
1,경산,053-750-4556,7:20,17:10,NaN,NaN,경산역출구에서좌측4m지점,휴일미운용
2,계룡,042-550-4254,6:30,20:00,6:30,20:00,계룡역역광장출구방향정면30m지점붉은벽돌건물,NaN
3,광명,02-801-6791,7:00,19:00,7:00,19:00,광명역서편1번출구지하1층,NaN
4,광주송정,062-940-7788,7:00,19:00,7:00,19:00,광주송정역1층운영,NaN

[국방부_국군복지단 복지시설_20220426] # of data : 73 ======================================>

    구분     시설명                        주소           연락처
0  기숙사  대방학사1관       서울시 영등포구여의대방로 49길 3   02-847-0981
1  기숙사  대방학사2관     서울시 영등포구여의대방로 43라길 17   02-832-2219
2  기숙사    도봉학사           경기도 의정부시호암로 129  031-878-2090
3  기숙사    무등학사  광주광역시 동구학소로 62번길 14-45번지  062-226-0164
4  기숙사    무열학사         대구시 달서구와룡로 51길 36  053-750-6917

[국방부_국군복지단 복지지설 상세 현황_20220426] # of data : 106 ======================================>

,운영구분,시설명,지역1,지역2,우편번호,주소1,주소2,일반전화,축제행사,운용객실홀수또는수용능력,...,현역군무원비수기,현역군무원휴일주말,현역군무원성수기,예비역및기타비수기,예비역및기타휴일주말,예비역및기타성수기,비회원비수기,비회원휴일주말,비회원성수기,적용기준일
0,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,108000,122000.0,143000.0,119000.0,135000.0,157000.0,146000.0,196000.0,229000.0,NaN
1,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,46000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
2,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,42000,61000.0,74000.0,45000.0,67000.0,82000.0,57000.0,98000.0,119000.0,NaN
3,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,54000,71000.0,90000.0,59000.0,79000.0,99000.0,73000.0,114000.0,144000.0,NaN
4,국방부,대천콘도1관,충청,충남,355943,충청남도 보령시 갓바위1길,10월 30일,041-932-6305,NaN,가용객실 47실,...,60000,77000.0,95000.0,66000.0,84000.0,105000.0,81000.0,122000.0,153000.0,NaN

[국방부_군 복지 휴양시설 정보_10_01_2018] # of data : 13 ======================================>

,순번,시설 명,위치 주소,객실 수량,규모,연락처,부대시설,홈페이지 주소
0,1,서귀포호텔,제주도 서귀포시 상예로 319,64,지상 7층,064-738-0123,"노래방, 연회장, 스카이라운지, 식당, 커피숍, 매장",www.welfare.mil.kr
1,2,송정콘도,강원도 강릉시 창해로 141,42,지상 3층,033-652-7571,"세미나실, 마트, 노래방",www.welfare.mil.kr
2,3,대천콘도1관,충남 보령시 갓바위 1길 10-30,47,지상 5층,041-932-6305,"노래방, 세미나실, 마트, 배구장",www.welfare.mil.kr
3,4,대천콘도2관,충남 보령시 남포방조제로 139,38,지상 4층,041-934-0504,"세미나실, 노래방",www.welfare.mil.kr
4,5,화진포콘도,강원도 고성군 거진읍 화진포길 330,55,지상 4층,033-682-0500,"노래방, 연회실, 식당, 마트",www.welfare.mil.kr

[국방부_병사 할인 혜택 정보_20220426] # of data : 89 ======================================>

,행번호,지역,시설명,할인행사명,시작일,종료일,연락처,홈페이지,상세설명
0,1,서울,세종호텔,연중 객실할인,2018-09-17,NaN,02-3705-9115,https://www.welfare.mil.kr,"객실: 50% 이상,연회 : 10%∼15%"
1,2,경남,거제삼성호텔,연중 객실할인,2017-01-01,NaN,055-631-2114,https://www.welfare.mil.kr,객실 55%～62%내외
2,3,경기,베어스타운리조트,연중 객실할인,2016-11-25,NaN,02-456-2014,https://www.cielsportsmedia.co.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장), 씨엘스포츠 폐쇄몰 이용"
3,4,강원,하이원리조트,연중 객실할인,2017-06-19,NaN,1588-7789,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장)"
4,5,강원,용평리조트 객실할인,연중 객실할인,2016-07-01,NaN,02-456-2014,https://www.welfare.mil.kr,"프로모션(패키지상품)위주로 운영, 현장결재(최저가보장),씨엘스포츠 폐쇄몰 이용"

In [78]:
# 지역 카테고리 따로 있는경우
locales = list(df_welfare[0]['TMO명'].unique())
locales += list(df_welfare[2]['지역1'].unique())
locales += list(df_welfare[2]['지역2'].unique())
locales += list(df_welfare[4]['지역'].unique())
print(set(locales))

{'마산', '만종', '영동', '퇴계원', '창원중앙', '김천구미', '청량리', '강릉', '평택', '익산', '홍성', '제주', '인천', '신경주', '논산', '전국', '장성', '제천', '수원', '신탄진', '창원', '증평', '서울', '전라', '전남', '용산', '전주', '동대구', '계룡', '충북', '진주', '서울,강원', '오근장', '춘천', '경상', '진해', '영천', '지평', '충청', '포항', '구포', '부강', '경북', '천안아산', '대구', '울산', '대전', '경기', '광명', '강원', '충남', '경남', '원주', '광주송정', '동서울', '오송', '부평', '조치원', '연무대', '서대전', '수서', '덕정', '목포', '경산', '부산', '전북'}

In [79]:
# 주소정보에서 지역 추출 : df_welfare[1]
df_welfare1_locales = list(df_welfare[1]['주소'].apply(lambda x:x.split(' ')[0]).unique())
print(df_welfare1_locales)
locales += df_welfare1_locales

['서울시', '경기도', '광주광역시', '대구시', '강원도', '서울특별시', '대전광역시', '부산광역시', '경기', '서울', '제주도', '경남', '전남', '충청남도', '충남', '충청북도', '전북', '제주특별자치도', '충북', '경북', '경상북도', '전라남도', '경상남도', '부산시']

In [80]:
# 주소정보에서 지역 추출 : df_welfare[3]
df_welfare3_locales = list(df_welfare[3]['위치 주소'].apply(lambda x:x.split(' ')[0]).unique())
print(df_welfare3_locales)
locales += df_welfare3_locales

['제주도', '강원도', '충남', '대전시', '서울시', '제주', '경남', '부산시']

In [81]:
locales = list(set(locales))
print(locales)

['마산', '영동', '청량리', '김천구미', '제주', '서울특별시', '전국', '제천', '경기도', '신탄진', '전주', '계룡', '충북', '진주', '서울,강원', '오근장', '춘천', '지평', '포항', '대구', '대전', '강원', '오송', '덕정', '목포', '만종', '충청남도', '인천', '수원', '충청북도', '창원', '증평', '전라남도', '진해', '구포', '부강', '광주송정', '동서울', '서울시', '서대전', '수서', '경산', '부산', '퇴계원', '대구시', '창원중앙', '익산', '논산', '서울', '용산', '대전시', '동대구', '충청', '경북', '천안아산', '경기', '광명', '경남', '원주', '강원도', '부산시', '연무대', '전라', '전북', '평택', '강릉', '홍성', '신경주', '장성', '전남', '대전광역시', '경상', '경상북도', '영천', '제주특별자치도', '부산광역시', '울산', '충남', '제주도', '광주광역시', '부평', '조치원', '경상남도']

#### 개체추출 : 시설

In [82]:
facilities = ['TMO', '여행장병 안내소', '여행장병안내소']

In [83]:
# 시설명 따로 있는경우
facilities += list(df_welfare[1]['시설명'].unique())
facilities += list(df_welfare[2]['시설명'].unique())
facilities += list(df_welfare[3]['시설 명'].unique())
facilities += list(df_welfare[4]['시설명'].unique())
facilities = list(set(facilities))
print(facilities)

['국방컨벤션', '켄싱턴호텔 여의도/평창/설악 지점', '소노문 양평', '한화 제주', '네스트호텔', '소노 소노캄 여수', '에어부산(수송사)', '롯데렌터카', '롯데씨티호텔마포/구로/대전점', '대천콘도1관', '로젠이사', '금호 설악', '소노벨 경주', '태릉 체력단련장', '켄싱턴 설악 밸리', '한화 평창', '소노문 델피노', '라마다제주 시티호텔(제주)', '아바니센트럴호텔(부산)', '에버랜드 자유이용(국.복지정책과)', '금호 화순', '롯데시네마(국.복지정책과)', '청풍리조트(제천)', '라마다호텔(평창)', '풍림아이원호텔&리조트(평창)', '파라다이스호텔(부산)', '밀리토피아 골프연습장', '무열학사', '처인 체력단련장', '소노 소노문 델피노', '해운대 그린나래호텔', '여행장병안내소', '손조 소노벨 비발디파크', '인제스피디움', '그라벨제주호텔', '소노문 단양', '계룡스파텔', '세종호텔', '더프라자호텔 서울', '신세계(영랑호)', '제주다인오세아노호텔앤리조트', '디오션리조트호텔(여수)', '송파학사', '하이원리조트', '베스트웨스턴프리미어 서울가든호텔', '롯데호텔 울산', '여행장병 안내소', '바이라한포항', '쏠비치 삼척', '소양학사', '한화 해운대', '금호 통영', '켄싱턴 한림', '라마다플라자호텔(제주)', '코오롱 마우나오션리조트(경주)', '대구그랜드호텔', '한화 거제(벨버디어)', '자운학사', '켄싱턴 경주', '소노 소노문 양평', '빕스할인(국.복지정책과)', '쏠비치 양양', '대방학사2관', '씨마크 호텔', '남수원 체력단련장', '현대수 설악', '한화 산정호수(안시)', '코엑스아쿠아리움', '코리아나호텔', '호텔더숨포레스트', '소노캄 거제', '동여주 체력단련장', '리솜 아일랜드(안면도)', '청간정카라반', '소노벨 변산', '켄싱턴 해운대', '금호 제주', '포포츠버이쉐라톤강남호텔', '아스타호텔 제주', '용평리조트 스키시즌권', 'JDX 멀티스포츠', '진해해군회관', '거제삼성호텔 ', '한화 대천(파로스)', '코오롱 씨클라우드호텔(해운대)', '씨에스호텔앤리조트', '바이라한 울산', '에어서울(수송사)', '세인트포골프&리조트', '서귀포호텔', '국민트랜스', '용평리조트 피크아일랜드', '청간정콘도', '대방학사1관', '농심호텔', '한화 용인(베잔송)', '베어스타운리조트 스키장비 렌탈', '한화아쿠아플라넷', 'TMO', '소노캄제주(샤인빌)', '해운학사', '도봉학사', '소노 쏠비치 양양', 'CGV(국.복지정책과)', '공군회관', '용평리조트 발왕산 케이블카 왕복권', '소노 소노문 단양', '거제씨앤스카이 리조트', '페어필드바이메리어트부산송도비치호텔', '칠보학사', '더 플래닛(제주)', '소노 소노벨 변산', '보광휘닉스파크스키시즌권', '한화 설악(쏘라노)', '메가박스할인(국.복지정책과)', '아스티부산호텔', '더 웨스틴 조선 호텔', '보광휘닉스 제주', '베어스타운', '엘도라도(신안)', '바이라한 목포', '대천콘도2관', '라마다플라자호텔(광주)', '송정콘도', '호텔 금오산', '소노캄 여수', '티웨이항공(수송사)', '바이라한 경주', '통인익스프레스', '어메이징파크', '소노벨 청송', '무주 덕유산', '제주항공(수송사)', '리솜 스플라스(덕산)', '펠릭스 바이 에스티엑스(해운대)', '켄싱턴 충주', '과천서울랜드', '진에어(수송사)', '리솜 레스트리(제천)', '켄싱턴 지리산 남원', '아산스파비스', '웰리힐리스키시즌권', '서울해군회관', '켄싱턴 설악비치', '웰리힐리파크', '무등학사', '소노 쏠비치 진도', '엘도라도', '한화 경주(에톤)', '소노벨 비발디파크', '베어스타운리조트', '신라스테이서대문/마포호텔', '용평리조트 객실할인', '신라스테이해운대', '롯데호텔(소공동)', '리솜 포레스트(제천)', '소노 소노벨 경주', '화진포콘도', '치악학사', '켄싱턴 서귀포', '제주렌트카', 'N서울타워', '베어스타운 리프트권', '쏠비치 진도', '소노 소노캄 거제', '거제씨월드', '롯데월드언더씨킹덤', '소노 쏠비치 삼척', '한화 여수 벨메르호텔', '바이라한 전주', '제주해군호텔', '코오롱호텔(경주)', '대신로지스틱스', '소노 소노벨 천안', '캠퍼트리호텔&리조트(제주)', '밀리토피아 호텔(민간위탁)', '소노벨 천안', '켄싱턴 하동', '파라다이스 도고 스파', '켄싱턴 가평', '글래드호텔 마포/여의도', '용평리조트 리프트권', '베어스타운스키시즌권', '한화 양평', '육군회관', '라발스호텔(부산)', '소노 소노벨 청송', '노보텔앰배서더 수원(제주)']

In [84]:
# 시설명에서 불용어, 특수기호 제거
stw_f = ['(국.복지정책과)', '(수송사)', '(민간위탁)']
for i, x in enumerate(facilities):
    for s in stw_f:
        facilities[i] = facilities[i].replace(s, '')
    loc_idx = facilities[i].find('(')
    if loc_idx > 0:
        facilities[i] = facilities[i][:loc_idx]
    
print(set(facilities))

{'국방컨벤션', '켄싱턴호텔 여의도/평창/설악 지점', '소노문 양평', '한화 제주', '네스트호텔', '소노 소노캄 여수', '로젠이사', '롯데렌터카', '롯데씨티호텔마포/구로/대전점', '대천콘도1관', '금호 설악', '소노벨 경주', '태릉 체력단련장', '켄싱턴 설악 밸리', '한화 평창', '소노문 델피노', '더 플래닛', '한화 경주', '금호 화순', '밀리토피아 골프연습장', '무열학사', '처인 체력단련장', '소노 소노문 델피노', '해운대 그린나래호텔', '여행장병안내소', '손조 소노벨 비발디파크', '인제스피디움', '그라벨제주호텔', '노보텔앰배서더 수원', '소노문 단양', '계룡스파텔', '세종호텔', '더프라자호텔 서울', '제주다인오세아노호텔앤리조트', '송파학사', '하이원리조트', '베스트웨스턴프리미어 서울가든호텔', '롯데호텔 울산', '여행장병 안내소', '바이라한포항', '쏠비치 삼척', '소양학사', '한화 해운대', '제주항공', '금호 통영', '켄싱턴 한림', '파라다이스호텔', '대구그랜드호텔', '티웨이항공', '자운학사', '켄싱턴 경주', '소노 소노문 양평', '쏠비치 양양', '대방학사2관', '씨마크 호텔', '남수원 체력단련장', '현대수 설악', '코엑스아쿠아리움', '코리아나호텔', '호텔더숨포레스트', '소노캄 거제', '한화 용인', '동여주 체력단련장', '라마다플라자호텔', '청간정카라반', '라마다제주 시티호텔', '한화 산정호수', '풍림아이원호텔&리조트', '소노벨 변산', '켄싱턴 해운대', '코오롱호텔', '금호 제주', '포포츠버이쉐라톤강남호텔', '아스타호텔 제주', '펠릭스 바이 에스티엑스', '용평리조트 스키시즌권', 'JDX 멀티스포츠', '진해해군회관', '신세계', '거제삼성호텔 ', '씨에스호텔앤리조트', '바이라한 울산', '세인트포골프&리조트', '서귀포호텔', '국민트랜스', '용평리조트 피크아일랜드', '청간정콘도', '리솜 아일랜드', '대방학사1관', '농심호텔', '진에어', '베어스타운리조트 스키장비 렌탈', '한화아쿠아플라넷', 'TMO', 'CGV', '해운학사', '도봉학사', '소노캄제주', '소노 쏠비치 양양', '공군회관', '용평리조트 발왕산 케이블카 왕복권', '디오션리조트호텔', '에버랜드 자유이용', '소노 소노문 단양', '거제씨앤스카이 리조트', '페어필드바이메리어트부산송도비치호텔', '칠보학사', '소노 소노벨 변산', '빕스할인', '보광휘닉스파크스키시즌권', '아스티부산호텔', '더 웨스틴 조선 호텔', '보광휘닉스 제주', '베어스타운', '바이라한 목포', '대천콘도2관', '송정콘도', '호텔 금오산', '소노캄 여수', '바이라한 경주', '통인익스프레스', '어메이징파크', '소노벨 청송', '무주 덕유산', '롯데호텔', '한화 거제', '코오롱 씨클라우드호텔', '켄싱턴 충주', '과천서울랜드', '캠퍼트리호텔&리조트', '메가박스할인', '켄싱턴 지리산 남원', '아산스파비스', '웰리힐리스키시즌권', '서울해군회관', '켄싱턴 설악비치', '웰리힐리파크', '청풍리조트', '한화 대천', '무등학사', '에어부산', '소노 쏠비치 진도', '엘도라도', '코오롱 마우나오션리조트', '소노벨 비발디파크', '베어스타운리조트', '신라스테이서대문/마포호텔', '용평리조트 객실할인', '신라스테이해운대', '리솜 스플라스', '소노 소노벨 경주', '화진포콘도', '에어서울', '치악학사', '켄싱턴 서귀포', '제주렌트카', '한화 설악', 'N서울타워', '리솜 레스트리', '베어스타운 리프트권', '쏠비치 진도', '소노 소노캄 거제', '거제씨월드', '리솜 포레스트', '라마다호텔', '롯데월드언더씨킹덤', '소노 쏠비치 삼척', '밀리토피아 호텔', '한화 여수 벨메르호텔', '바이라한 전주', '제주해군호텔', '대신로지스틱스', '소노 소노벨 천안', '라발스호텔', '소노벨 천안', '아바니센트럴호텔', '롯데시네마', '켄싱턴 하동', '파라다이스 도고 스파', '켄싱턴 가평', '글래드호텔 마포/여의도', '용평리조트 리프트권', '베어스타운스키시즌권', '한화 양평', '육군회관', '소노 소노벨 청송'}

In [85]:
q_welfare = []

In [86]:
w_welfare = {
    'LOCALE': locales,
    'FACILITIES': facilities,
    'A': ['근처', '주변', '부근', '근방', '쪽에',  '지역'],
    'B': ['있어?', '있긴해?', '있음?', '뭐가 있어?', '있을까?'],
    'C': ['시설', '복지시설', '놀만한 곳', '갈만한 곳', '할인되는 곳', '숙소', '잘데', '혜택', '복지정보'],
    'D': ['알려줘', '궁금해', '궁금함', '말해줘', '알고싶어']
}
t_welfare = [
    '{LOCALE}{A} {C} {B}',
    '{LOCALE}{A} {C} {D}',
    '{FACILITIES}에 대해 {D}',
    '{FACILITIES} 혜택정보 {D}'
]

In [87]:
len(facilities)

188

In [88]:
import re

# return chunk key list
# get template pattern string
def get_key_from_template(str):
  ret = re.findall(r'\{.*?\}', str)
  return list(map(lambda x:x.replace('{', '').replace('}', ''), ret))
  # return ret

def add_samples(permute):
    samples = []
    for chunks in permute:
      cur_q = template
      for i in range(len(chunks)):
        # print(key, chunks[i], cur_q)
        key = '{'+keylist[i]+'}'
        cur_q = cur_q.replace(key, chunks[i])

      samples.append(cur_q)

    return samples

In [89]:
from itertools import product
import random

samples = []
for template in t_welfare:
  keylist = get_key_from_template(template)

  if len(keylist)==2:
    # Get all possible cases
    permute = list(product(w_welfare[keylist[0]],w_welfare[keylist[1]]))

  elif len(keylist)==4:
    # Get all possible cases
    permute = list(product(w_welfare[keylist[0]],w_welfare[keylist[1]],w_welfare[keylist[2]],w_welfare[keylist[3]]))

    # Random sampling
    permute = random.sample(permute, 1000)

  samples += add_samples(permute)

In [90]:
df_welfare = pd.DataFrame(samples, columns=['question'])
df_welfare

                  question
0            서대전주변 시설 있긴해?
1           오송쪽에 복지시설 있긴해?
2          울산부근 할인되는 곳 있어?
3         인천근처 복지시설 뭐가 있어?
4             신탄진근방 숙소 있어?
...                    ...
3875   노보텔앰배서더 수원 혜택정보 알려줘
3876   노보텔앰배서더 수원 혜택정보 궁금해
3877   노보텔앰배서더 수원 혜택정보 궁금함
3878   노보텔앰배서더 수원 혜택정보 말해줘
3879  노보텔앰배서더 수원 혜택정보 알고싶어

[3880 rows x 1 columns]

In [91]:
df_welfare.to_csv('train_welfare.csv', index=False)

0

## 2.주거
### 1) QnA Template
- 지역별 관사주택정보 질문
    - 특정지역 해당 주택목록 답변
    - 특정지역 해당 분양정보 목록 답변
- 특정주택 정보질문
    - 특정주택 일반정보 답변
- 군구분별 지역별 주택정보 질문
    - 군 구분별 해당 주택목록 답변
    
### 2) Named Entity
: 추출해야할 개체 종류 ==> 지역, 주택, 군구분